@model ViewModels.RegisterViewModel;
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}


<link href="~/css/Login.css" rel="stylesheet" />
<form asp-action="UpdateUser" method="post" class="form-signin mb-5" style="max-width:45rem ">
    <div class="card shadow-sm">
        
        
        <div class="card-body">
            <div class="text-left">
                <a asp-action="Index" class="btn btn-primary text-left">Volver a Home</a>
            </div>
            <h1>Crear Cliente</h1>

            <div class="form-row my-2">
                <div class="col">
                    <input asp-for="Id" hidden placeholder="Cedula" class="form-control" />
                    <input asp-for="Estado" hidden placeholder="Cedula" class="form-control" />
                    <input asp-for="Cedula" readonly placeholder="Cedula" class="form-control" />
                </div>
            </div>

            <div class="form-row my-2">
                <div class="col">
                    <input asp-for="Nombre" class="form-control" placeholder="Nombre">
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
                <div class="col">
                    <input asp-for="Apellido" class="form-control" placeholder="Apellido">
                    <span asp-validation-for="Apellido" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row my-2">
                <div class="col">
                    <input asp-for="Correo" class="form-control" placeholder="Correo" />
                    <span asp-validation-for="Correo" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row my-2">
                <div class="col">
                    <input asp-for="UserName" class="form-control" placeholder="Nombre de Usuario" readonly />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row my-2">
                <div class="col">
                    <input asp-for="Password" class="form-control" placeholder="Contraseña" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="col">
                    <input asp-for="ConfirmPassword" class="form-control" placeholder="Nueva Contraseña"  />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>

            <div class="form-row my-2" hidden>
                <div class="col">
                    <label asp-for="SelectedRol" class="label">Roles</label>
                    <input asp-for="SelectedRol" value="client" class="form-control" />
                </div>
            </div>

            <div class="form-row my-2">
                <div class="col">
                    <input asp-for="Monto" class="form-control" placeholder="Monto Adicional" value="0" />
                    <span asp-validation-for="Monto" class="text-danger"></span>
                </div>

            </div>

            <div class="form-group text-center">
                <button type="submit" class="btn btn-success">Registrarse</button>
                <button type="reset" class="btn btn-warning">Limpiar</button>
            </div>

            <div asp-validation-summary="All" class="text-left text-danger"></div>
        </div>

    </div>
</form>