
@{
    ViewData["Title"] = "CambiarPassword";
}

    <div class="alert alert-danger my-3" role="alert">
        <h4 class="alert-heading">Error al cambiar contraseña!</h4>
        <p>Seguramente ese usuario no existe</p>
        <a asp-action="Login" asp-controller="User">Volver a Login</a>
        <hr>
        <p class="mb-0">Si quieres registrarte da click <a asp-action="Register">aqui</a></p>
    </div>

